# Dependencies Folder #
dependencies

# so_long executable #
so_long

# MacOs generated folders #
.DS_Store
*.dSYM

# Objects files #
*.o

# Vim swap files #
*.swp

# Executable files #
*.out

# Test file #
main.c

# Archive files #
*.a

# Temporary header files #
*.th

# Dependancy files #
*.d
